*{
    margin: 0;
    padding: 0;;
    text-align: center;
}
body{
    background-color: aqua;
}
h1{
    background-color: #7E60BF;
    color: white;
    line-height: 5rem;
    height: 5rem;
}
.choices{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

  
}
.choice:hover{
    cursor: pointer;
    background-color: #e9fa07fe;
}
img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
   
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
}
.score{
    font-size: 4rem;
    margin-top: 9rem;
    color: white;
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 4rem;
    
}

#msg{
    background-color: #859F3D;
    padding:1rem;
    border-radius: 20px;
    color: white;
}